<form class="s7 roll-dialog norm-color">
 <header class="roll-header">
        <h1>{{dialogName}}</h1>
    </header>

<div class="ed4e roll-dialog">
    <h3><strong>{{name}} Roll</strong></h3>
    <div class="ed4e flexcol">
    <table>
        <tr>
            <td>{{localize "ED4E.jargon.step"}}</td>
            <td>
            <select name="pickStep" id="pickStep">
                {{#each stepData as |data index|}}
                {{log index}}
                    <option value="{{index}}" {{#if (eq ../selectStep (stringify index))}}selected{{/if}}>Step {{index}} / {{data.dice}}</option>
                {{/each}}
            
            </select>
            </td>
        </tr>
        <tr>
            <td>Result Modifier</td>
            <td> <input class="ed4e value-input-wide" type="text" id="rollmod" name="rollmod" value="0" data-dtype="Number" /> </td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input type="text" name="rollnote" id="rollnote" value="" data-dtype="String"/></td>
        </tr>
    </table>
    </div>
</div>