<div class="ed4e flex-item">
    <h4 class="table-title">Bio</h4>
    <table class="item-table">
        <tr>
            <td><strong>Sex</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.sex" value="{{data.sex}}" data-dtype="String"/></td>
        </tr>
        <tr>
            <td><strong>Age</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.age" value="{{data.age}}" data-dtype="String"/></td>
        </tr>
        <tr>
            <td><strong>Height</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.height" value="{{data.height}}" data-dtype="String"/></td>
        </tr>
        <tr>
            <td><strong>Weight</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.weight" value="{{data.weight}}" data-dtype="String"/></td>
        </tr>
        <tr>
            <td><strong>Hair</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.hair" value="{{data.hair}}" data-dtype="String"/></td>
        </tr>
        <tr>
            <td><strong>Eyes</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.eyes" value="{{data.eyes}}" data-dtype="String"/></td>
        </tr>
        <tr>
            <td><strong>Skin</strong></td>
            <td><input class="ed4e value-input-wide" type="text" name="data.skin" value="{{data.skin}}" data-dtype="String"/></td>
        </tr>
    </table>
</div>