<div class="ed4e flex-item" style="margin-left:3px; margin-right:3px;">
     <table class="item-table">
         <tr>
             <th>Base Init</th>
             <th>Armor Pen</th>
        </tr>
         <tr style="text-align:center;">
            <td>{{data.attributes.dexterity.step}}</td>
            <td>{{data.initiative.armor_mod}}</td>
        </tr>
        <tr>
             <th>Misc Mod</th>
             <th>Final Init</th>
         </tr>
       
        <tr>
            <td><a class="tick" data-stat-name="initmod" data-direction="down"><i class="fas fa-minus-square"></i></a> <input type="text" class="ed4e value-input" name="data.miscmods.misc_init_step" value="{{data.miscmods.misc_init_step}}" data-dtype="Number"/> <a class="tick" data-stat-name="initmod" data-direction="up"><i class="fas fa-plus-square"></i></a></td>
            <td><a class="step-roll ed4e-button" data-step="{{data.initiative.step}}" data-roll-type="Initiative"><i class="fas fa-dice-six"></i> {{data.initiative.step}}/{{data.initiative.dice}}</a></td>
        </tr>
    
        <tr>
            <td><strong>{{localize "ED4E.jargon.moverate"}}</strong></td>
            <td class="center">{{data.movement}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.jargon.carry"}}</strong></td>
            <td class="center">{{data.load}} / {{data.carry}} {{#if (lt data.encumb_penalty 0)}}({{data.encumb_penalty}}){{/if}}</td>
        </tr>

    </table>
       
</div>