<div class="ed4e flex-item">
       <h4 class="table-title">Defenses</h4>
        <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.defenses.physical"}}</strong></td>
            <td>{{data.defenses.physical.value}}</td>
            <td><strong>/ {{localize "ED4E.jargon.armor"}}</strong></td>
            <td>{{data.armor.physical.value}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.defenses.mystic"}}</strong></td>
            <td>{{data.defenses.mystic.value}}</td>
            <td><strong>/ {{localize "ED4E.jargon.armor"}}</strong></td>
            <td>{{data.armor.mystic.value}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.defenses.social"}}</strong></td>
            <td>{{data.defenses.mystic.value}}</td>
            <td colspan=2></td>
        </tr>
    </table>
     <h4 class="table-title">Initiative</h4>
     <table class="item-table">
         <tr>
             <th>Base</th>
             <th>Armor Mod</th>
             <th>Final</th>
         </tr>
        <tr style="text-align:center;">
            <td>{{data.attributes.dexterity.step}}</td>
            <td>{{data.initiative.armor_mod}}</td>
            <td>{{data.initiative.step}} / {{data.initiative.dice}}</td>
        </tr>
    </table>
</div>