<div class="ed4e flex-item" style="margin-left:3px; margin-right:3px;">
    <h4 class="table-title">Initiative</h4>
     <table class="item-table">
         <tr>
             <th>Base (Armor)</th>
             <th>Misc</th>
        </tr>
         <tr style="text-align:center;">
            <td>{{data.attributes.dexterity.step}} ({{data.initiative.armor_mod}})</td>
             <td><a class="tick" data-stat-name="initmod" data-direction="down"><i class="fas fa-minus-square"></i></a> <input type="text" class="ed4e value-input" name="data.miscmods.misc_init_step" value="{{data.miscmods.misc_init_step}}" data-dtype="Number"/> <a class="tick" data-stat-name="initmod" data-direction="up"><i class="fas fa-plus-square"></i></a></td>
        </tr>
        <tr>
            <td colspan=2 class="center">Final <a class="step-roll ed4e-button" data-step="{{data.initiative.step}}" data-roll-type="Initiative"><i class="fas fa-dice-six"></i> {{data.initiative.step}}/{{data.initiative.dice}}</a></td>
        </tr>
    
        <tr>
            <td><strong>Move</strong></td>
            <td class="center">{{data.movement}}</td>
        </tr>
        <tr>
            <td><strong>Carry</strong></td>
            <td class="center">{{data.load}} / {{data.carry}} {{#if (lt data.encumb_penalty 0)}}({{data.encumb_penalty}}){{/if}}</td>
        </tr>

    </table>
       
</div>