<div class="ed4e flex-item" style="margin-left:3px; margin-right:3px;">
       <h4 class="table-title">Defenses</h4>
        <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.defenses.physical"}}</strong></td>
            <td class="center">{{data.defenses.physical.value}}</td>
            <td><strong>/ {{localize "ED4E.jargon.armor"}}</strong></td>
            <td class="center">{{data.armor.physical.value}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.defenses.mystic"}}</strong></td>
            <td class="center">{{data.defenses.mystic.value}}</td>
            <td><strong>/ {{localize "ED4E.jargon.armor"}}</strong></td>
            <td class="center">{{data.armor.mystic.value}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.defenses.social"}}</strong></td>
            <td class="center">{{data.defenses.social.value}}</td>
            <td colspan=2></td>
        </tr>
    </table>
     <h4 class="table-title">Initiative</h4>
     <table class="item-table">
         <tr>
             <th>Base</th>
             <th>Armor</th>
             <th>Misc</th>
             <th>Final</th>
         </tr>
        <tr style="text-align:center;">
            <td>{{data.attributes.dexterity.step}}</td>
            <td>{{data.initiative.armor_mod}}</td>
            <td><a class="tick" data-stat-name="initmod" data-direction="down"><i class="fas fa-minus-square"></i></a> <input type="text" class="ed4e value-input" name="data.miscmods.misc_init_step" value="{{data.miscmods.misc_init_step}}" data-dtype="Number"/> <a class="tick" data-stat-name="initmod" data-direction="up"><i class="fas fa-plus-square"></i></a></td>
            <td><a class="step-roll ed4e-button" data-step="{{data.initiative.step}}" data-roll-type="Initiative"><i class="fas fa-dice-six"></i> {{data.initiative.step}} / {{data.initiative.dice}}</a></td>
        </tr>
    </table>
</div>