<div class="ed4e flex-item">
   <h4 class="table-title">Initiative</h4>
     <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.initiative.init_base"}}</strong></td>
            <td>{{data.attributes.dexterity.value}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.initiative.init_armor_mod"}}</strong></td>
            <td>{{data.initiative.armor_mod}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.initiative.init_step"}}</strong></td>
            <td>{{data.initiative.step}} / {{data.initiative.dice}}</td>
        </tr>
    </table>
</div>