<div class="ed4e flex-item inset">
    <h4 class="table-title">Initiative</h4>
     <table class="item-table">
         <tr>
             <th>Base</th>
             <th>Armor Mod</th>
             <th>Final</th>
         </tr>
        <tr style="text-align:center;">
            <td>{{data.attributes.dexterity.step}}</td>
            <td>{{data.initiative.armor_mod}}</td>
            <td>{{data.initiative.step}} / {{data.initiative.dice}}</td>
        </tr>
    </table>
       <h4 class="table-title">Move/Carry</h4>
    <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.jargon.moverate"}}</strong></td>
            <td>{{data.movement}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.jargon.carry"}}</strong></td>
            <td>{{data.load}} / {{data.carry}} {{#if (lt data.encumb_penalty 0)}}({{data.encumb_penalty}}){{/if}}</td>
        </tr>

    </table>
        <h4 class="table-title">Karma</h4>
    <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.karma.karma_avail"}}</strong></td>
            <td>{{data.karma.value}} / {{data.karma.max}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.karma.karma_max"}}</strong></td>
            <td>{{data.karma.mod}}</td>
        </tr>

    </table>
</div>