<div class="ed4e flex-item">
   <h4 class="table-title">Initiative</h4>
     <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.initiative.init_base"}}</strong></td>
            <td>{{data.attributes.dexterity.value}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.initiative.init_armor_mod"}}</strong></td>
            <td>{{data.initiative.armor_mod}}</td>
        </tr>
        <tr>
            <td><strong>Misc Step Mod</strong></td>
            <td><a class="tick" data-stat-name="initmod" data-direction="down"><i class="fas fa-minus-square"></i></a> <input type="text" class="ed4e value-input" name="data.miscmods.misc_init_step" value="{{data.miscmods.misc_init_step}}" data-dtype="Number"/> <a class="tick" data-stat-name="initmod" data-direction="up"><i class="fas fa-plus-square"></i></a> </td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.initiative.init_step"}}</strong></td>
            <td>{{data.initiative.step}} / {{data.initiative.dice}}</td>
        </tr>
    </table>
</div>