<div class="ed4e flex-item">
       <h4 class="table-title">Move/Carry</h4>
    <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.jargon.moverate"}}</strong></td>
            <td class="center">{{data.movement}}</td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.jargon.carry"}}</strong></td>
            <td class="center">{{data.load}} / {{data.carry}} {{#if (lt data.encumb_penalty 0)}}({{data.encumb_penalty}}){{/if}}</td>
        </tr>

    </table>
        <h4 class="table-title">Karma</h4>
    <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.karma.karma_avail"}}</strong></td>
            <td class="center"><input class="ed4e value-input" type="text" name="data.karma.value" value="{{data.karma.value}}" data-dtype="Number" /> /  
            <input type="text" class="ed4e value-input" name="data.karma.max" value="{{data.karma.max}}" data-dtype="Number" /></td>
        </tr>
        <tr>
            <td ><strong>{{localize "ED4E.karma.karma_mod"}}</strong></td>
            <td class="center">{{data.karma.mod}}</td>
        </tr>
        
    </table>
</div>