<div class="ed4e flex-item">
    <table class="item-table">
        <tr>
            <td>Death Threshold</td>
            <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_death"
                       value="{{data.miscmods.misc_death}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Unconsciousness Threshold</td>
            <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_uncon"
                       value="{{data.miscmods.misc_uncon}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Wound Threshold</td>
            <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_wound"
                       value="{{data.miscmods.misc_wound}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Recovery Tests</td>
            <td><input type="text"
                       class="ed4e value-input"
                       name="data.miscmods.misc_recove_tests"
                       value="{{data.miscmods.misc_recov_tests}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Recovery Step</td>
            <td><input type="text"
                       class="ed4e value-input"
                       name="data.miscmods.misc_recov_step"
                       value="{{data.miscmods.misc_recov_step}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>
                Is NPC
            </td>
            <td>
                <input type="checkbox" name="data.npc" {{checked data.npc}}/>
            </td>
        </tr>
    </table>
</div>