<div class="ed4e flex-item" style="max-width:40%">
    <h4 class="table-title">Misc Modifiers</h4>
    <table class="item-table">
        <tr>
            <td>Init Result Modifier</td>
            <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_init_result"
                       value="{{data.miscmods.misc_init_result}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Movement Rate</td>
            <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_move"
                       value="{{data.miscmods.misc_move}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Carry Capacity</td>
            <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_carry"
                       value="{{data.miscmods.misc_carry}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Phys. Armor</td>
            <td><input type="text"
                       class="ed4e value-input"
                       name="data.miscmods.misc_pa_mod"
                       value="{{data.miscmods.misc_pa_mod}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Mystic Armor</td>
            <td><input type="text"
                       class="ed4e value-input"
                       name="data.miscmods.misc_ma_mod"
                       value="{{data.miscmods.misc_ma_mod}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Phys. Defense</td>
             <td><input type="text" 
                       class="ed4e value-input"
                       name="data.miscmods.misc_pd_mod"
                       value="{{data.miscmods.misc_pd_mod}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Mystic Defense</td>
            <td><input type="text"
                       class="ed4e value-input"
                       name="data.miscmods.misc_md_mod"
                       value="{{data.miscmods.misc_md_mod}}"
                       data-dtype="Number"/>
            </td>
        </tr>
        <tr>
            <td>Social Defense</td>
            <td><input type="text"
                       class="ed4e value-input"
                       name="data.miscmods.misc_sd_mod"
                       value="{{data.miscmods.misc_sd_mod}}"
                       data-dtype="Number"/>
            </td>
        </tr>
    </table>
</div>