<div class="ed4e flex-item inset">
    <h4 class="table-title">{{localize "ED4E.jargon.talent"}}s</h4>
    <table class="item-table">
        <tr>
            <th><a class="add-item" title="Add Talent" data-type="ability" data-subtype="talent">
                            <i class="fas fa-plus-square"></i>
                        </a></th>
            <th style="text-align:left;">{{localize "ED4E.jargon.talent"}}</th>
            <th>{{localize "ED4E.jargon.rank"}}</th>
            <th>{{localize "ED4E.jargon.attr"}}</th>
            <th>{{localize "ED4E.jargon.step"}}</th>
            <th>{{localize "ED4E.jargon.strain"}}</th>
            <th></th>
        </tr>
            {{#each talents as |talent talName|}}
            <tr style="text-align:center">
                <td><!--a title="Roll" class="item-roll weapon-image ed4e-button" data-item-id="{{talent._id}}"><i class="fas fa-dice-six"></i></a--></td>
                <td style="text-align:left;"><a class="item-name item" data-item-id="{{talent._id}}">{{talent.name}} {{#if talent.data.asSkill}}*{{/if}}</a></td>
                <td>{{talent.data.rank}}</td>
                <td>{{localize (concat "ED4E.attributes_short." talent.data.attribute)}}</td>
                <td><a title="Roll" class="item-roll ed4e-button" data-item-id="{{talent._id}}"><i class="fas fa-dice-six"></i> {{talent.data.step}}/{{talent.data.dice}}</a></td>
                <td>{{talent.data.strain}}</td>
                <td><a class="item-edit item" data-item-id="{{talent._id}}"><i class="fas fa-edit"></i></a> <a class="item-delete item" data-item-id="{{talent._id}}"><i class='fas fa-trash'></i></a></td>
            </tr>
            {{/each}}
    </table>
</div>