<div class="ed4e flex-item">
    <h4 class="table-title">Wealth</h4>
    <table class="item-table">
        <tr>
            <td><strong>Copper</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.wealth.copper" value="{{data.wealth.copper}}" /></td>
        </tr>
        <tr>
            <td><strong>Silver</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.wealth.silver" value="{{data.wealth.silver}}" /></td>
        </tr>
        <tr>
            <td><strong>Gold</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.wealth.gold" value="{{data.wealth.gold}}" /></td>
        </tr>
        <tr>
            <td><strong>Orichalcum</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.wealth.orichalcum" value="{{data.wealth.orichalcum}}" /></td>
        </tr>
        <tr>
            <td><strong>Other</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.wealth.other" value="{{data.wealth.other}}" /></td>
        </tr>
    </table>
</div>