<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="ed4e flexrow">
            <div class="ed4e flex-item" style="flex:1; max-width:72px">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
            </div>
            <div class="ed4e flex-item" style="flex:1">
                <h1 class="charname"><input style="font-family: 'IM Fell Double Pica SC', serif; background:rgba(230, 206, 72, 0.5);" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            </div>
            <div class="ed4e flex-item form-group">
                <table style="background:none;">
                    <tr>
                    <th class="table-title">Race</th>
                    <th class="table-title">Occupation</th>
                    <th class="table-title">Tier</th>
                    </tr>
                    <tr style="text-align:center">
                        <td>{{> "systems/ed4e/templates/actor/partials/race_select.hbs"}}</td>
                        <td><input type="text" name="data.occupation" value="{{data.occupation}}" data-dtype="String"/></td>
                        <td><input id="circ" style="text-align:center;" type="text" class="ed4e value-input-wide" name="data.tier" value="{{data.tier}}" data-dtype="Number"/></td>
                    </tr>
                </table>
                <!--label class="table-title" for="data.race">Race</label>
                {{> "systems/ed4e/templates/actor/partials/race_select.hbs"}}
                <label for="data.discipline">Discipline</label>
                {{> "systems/ed4e/templates/actor/partials/discipline_select.hbs"}}
                <label for="circ">Circle</label>
                <input id="circ"type="text" class="ed4e value-input" name="data.circle" value="{{data.circle}}" data-dtype="Number"/-->
                
            </div>
        </div>
    </header>

    {{!-- Attributes / Defenses / Initiative --}}
   
        <div class="ed4e flexrow">
                    {{> "systems/ed4e/templates/actor/partials/npc/attributes-npc.hbs"}}
        </div>

        
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary" style="font-family: 'Willow', serif; font-size:1.25em; text-transform:uppercase; font-weight:bold; background:rgb(230, 206, 72); border-top:1px solid black; border-bottom: 1px solid black">
            <a class="ed4e item" data-tab="main">Essentials</a>
            <a class="ed4e item" data-tab="gear">Loot</a>
            <a class="ed4e item" data-tab="misc">Misc</a>
            <a class="ed4e item" data-tab="inst">Instructions</a>
        </nav>
        
        {{!--Body Divs--}}
        <section class="sheetbody">
            <div class="tab main" data-group="primary" data-tab="main">
                
                    <div class="ed4e flexrow">
                    {{> "systems/ed4e/templates/actor/partials/npc/defenses-npc.hbs"}}
                    {{> "systems/ed4e/templates/actor/partials/health.hbs"}}
                         {{> "systems/ed4e/templates/actor/partials/npc/misc-npc.hbs"}}
                {{!--Initiative Partial--}}
                </div>
                <div class="ed4e flexrow">
                    {{> "systems/ed4e/templates/actor/partials/npc/abilities-npc.hbs"}}
                </div>
            </div>
            <div class="tab gear" data-group="primary" data-tab="gear">
                {{> "systems/ed4e/templates/actor/partials/weapons.hbs"}}
                {{> "systems/ed4e/templates/actor/partials/armor.hbs"}}
                {{> "systems/ed4e/templates/actor/partials/equipment.hbs"}}
            </div>
            <div class="tab misc" data-group="primary" data-tab="misc">
                
                    <div class="ed4e flexrow">
                        {{> "systems/ed4e/templates/actor/partials/misc.hbs"}}
                    {{> "systems/ed4e/templates/actor/partials/misc2.hbs"}}
                    </div>
                    <h4 class="table-title">Steps</h4>
                <div class="ed4e flexrow" style="flex-wrap:wrap; justify-content:flex-start">
                    {{> "systems/ed4e/templates/actor/partials/steplist.hbs"}}
                </div>
            </div>
            <div class="tab inst" data-group="primary" data-tab="inst">
                <div class="ed4e flexrow">
                    {{> "systems/ed4e/templates/actor/partials/instructions.hbs"}}
                </div>
            </div>
            
        </section>
    
</form>

