<div class="s7 roll-dialog">
    <header class="roll-header taskroll-info">
            <h2 class="roll-name">{{proper name}}
                <div class="taskroll-final">
                    {{testResult}}
                </div>
            </h2>
    </header>
    <div class="taskroll-msg" style="font-size:1em">
       <p><strong>Test {{localize "ED4E.jargon.step"}}: </strong> {{step}} / <strong>{{localize "ED4E.jargon.dice"}}:</strong> {{dice}}</p>
       <p><em>{{note}}</em></p>
       <h2 class="roll-name">{{proper name}} Effect
                <div class="taskroll-final">
                    {{effResult}}
                </div>
            </h2>
       <p><strong>Effect/Dmg {{localize "ED4E.jargon.step"}}: </strong> {{effStep}} / <strong>{{localize "ED4E.jargon.dice"}}:</strong> {{effDice}}</p>
    </div>
    <div class="taskroll-tt">
        <hr>
        <div>
            <table>
            <tr>
                <th>Test Dice</th>
                <th>Eff/Dmg Dice</th>
            </tr>
            <tr>
                <td style="border:1px solid black; padding:3px">{{tooltip}}</td>
                <td  style="border:1px solid black; padding:3px">{{tooltip2}}</td>
            </tr>
            </table>
        </div>
    </div>
</div>