<div class="s7 roll-dialog">
    <header class="roll-header taskroll-info">
            <h2 class="roll-name">{{proper name}} Roll
                <div class="taskroll-final">
                    {{result}}
                </div>
            </h2>
    </header>
    <div class="taskroll-msg" style="font-size:1em">
       <p><strong>{{localize "ED4E.jargon.step"}}: </strong> {{step}} / <strong>{{localize "ED4E.jargon.dice"}}:</strong> {{dice}}</p>
       <p><em>{{note}}</em></p>
    </div>
    <div class="taskroll-tt">
        <hr>
        
        <div>{{tooltip}}</div>
    </div>
</div>