<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>


     <section class="sheet-body">
        <div class="s7 flexcol">
            
                <table class="item-table">
                    <tr>
                        <th>{{localize "ED4E.jargon.circle"}}</th>
                        <th>{{localize "ED4E.jargon.threads"}}</th>
                        <th colspan=3>{{localize "ED4E.jargon.weaving"}}</th>
                        <th>{{localize "ED4E.jargon.casting"}}</th>
                        <th>{{localize "ED4E.jargon.range"}}</th>
                        <th>{{localize "ED4E.jargon.duration"}}</th>
                        <th>{{localize "ED4E.jargon.effect"}}</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="ed4e value-input" name="data.circle" value="{{data.circle}}" data-dtype="Number"/>
                        </td>
                        <td>
                            <input type="text" class="ed4e value-input" name="data.threads" value="{{data.threads}}" data-dtype="Number" />
                        </td>
                        <td>
                            <input type="text" style="max-width:3ch; display:inline;" class="ed4e value-input" name="data.weave_prior" value="{{data.weave_prior}}" data-dtype="Number" />
                        </td>
                        <td>/</td>
                        <td>
                            <input type="text" style="max-width:3ch;" class="ed4e value-input" name="data.weave_reattune" value="{{data.weave_reattune}}" data-dtype="Number" />
                        </td>
                        <td>
                            <input type="text" name="data.casting" value="{{data.casting}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" class="ed4e value-input-wide" name="data.range" value="{{data.range}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" class="ed4e value-input-wide" name="data.duration" value="{{data.duration}}" data-dtype="String"/>
                        </td>
                        <td>
                            <input type="text" class="ed4e value-input-wide" name="data.effect" value="{{data.effect}}" data-dtype="String" />
                        </td>
                        
                    </tr>
                </table>
                <div class="ed4e flex-item">
                    <h4>Description</h4>
                    <textarea name="data.description">{{data.description}}</textarea>
                </div>
        </div>
    </section>
</form>
