<div class="ed4e flex-item">
    <h4 class="table-title">{{localize "ED4E.jargon.npc_abilities"}}</h4>
    <table class="item-table">
        <tr>
            <th><a class="add-item" title="Add Attack" data-type="npc_attack">
                            <i class="fas fa-plus-square"></i>
                        </a></th>
            <th style="text-align:left">Ability</th>
            <th>{{localize "ED4E.jargon.step"}}</th>
            <th>{{localize "ED4E.jargon.dice"}}</th>
            <th>{{localize "ED4E.jargon.dmg_effect"}}</th>
            <th>{{localize "ED4E.jargon.dmg_effect_dice"}}</th>
            <th>{{localize "ED4E.jargon.strain"}}</th>
            <th></th>
        </tr>
            {{#each npc_attacks as |atk atkname|}}
            <tr class="effect-toggle" style="text-align:center">
                 <td><a title="Roll" class="item-roll weapon-image ed4e-button" data-item-id="{{atk._id}}"><i class="fas fa-dice-six"></i></td>
                <td style="text-align:left"><a class="item-name item" data-item-id="{{atk._id}}">{{atk.name}}</a></td>
                <td>{{atk.data.step}}</td>
                <td>{{atk.data.dice}}</td>
                <td><a class="step-roll ed4e-button" data-step="{{atk.data.dmg_step}}" data-roll-type="Damage/Effect"><i class="fas fa-dice-six"></i></a>  {{atk.data.dmg_step}}</td>
                <td>{{atk.data.dmg_dice}}</td>
                <td>{{atk.data.strain}}</td>
                <td><a class="item-edit item" data-item-id="{{atk._id}}"><i class="fas fa-edit"></i></a> <a class="item-delete item" data-item-id="{{atk._id}}"><i class='fas fa-trash'></i></a></td>
            </tr>
            <tr class="effect-info">
                <td></td>
                <td colspan=7>{{atk.data.common.description}}</td>
            </tr>
            {{/each}}
    </table>
</div>