<div class="ed4e flex-item" style="margin-left:3px; margin-right:3px;">
       <h4 class="table-title">Defenses</h4>
        <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.defenses.physical"}}</strong></td>
            <td class="center"><input type="text" class="ed4e value-input" name="data.defenses.physical.value" value="{{data.defenses.physical.value}}" data-dtype="Number"/></td>
            <td><strong>/ {{localize "ED4E.jargon.armor"}}</strong></td>
            <td class="center"><input type="text" class="ed4e value-input" name="data.armor.physical.value" value="{{data.armor.physical.value}}" data-dtype="Number"/></td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.defenses.mystic"}}</strong></td>
            <td class="center"><input type="text" class="ed4e value-input" name="data.defenses.mystic.value" value="{{data.defenses.mystic.value}}" data-dtype="Number" /></td>
            <td><strong>/ {{localize "ED4E.jargon.armor"}}</strong></td>
            <td class="center"><input type="text" class="ed4e value-input" name="data.armor.mystic.value" value="{{data.armor.mystic.value}}" data-dtype="Number" /></td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.defenses.social"}}</strong></td>
            <td class="center"><input type="text" class="ed4e value-input" name="data.defenses.social.value" value="{{data.defenses.social.value}}" data-dtype="Number" /></td>
            <td colspan=2></td>
        </tr>
        <tr>
            <td><strong>{{localize "ED4E.jargon.knockdown"}}</strong></td>
            <td class="center"><input type="text" class="ed4e value-input" name="data.health.thresholds.knockdown" value="{{data.health.thresholds.knockdown}}" data-dtype="Number" /></td>
            <td colspan=2></td>
        </tr>
    </table>
</div>