<div class="ed4e flex-item" style="margin-left:3px; margin-right:3px;">
       <h4 class="table-title">Initiative/Movement</h4>
       <table class="item-table">
         <tr>
             <th>Base</th>
             <th>Misc</th>
             <th>Final</th>
             <th>Move</th>
         </tr>
        <tr style="text-align:center;">
            <td><input type="text" class="ed4e value-input" name="data.initiative.base" value="{{data.initiative.base}}" data-dtype="Number" /></td>
            <td><a class="tick" data-stat-name="initmod" data-direction="down"><i class="fas fa-minus-square"></i></a> <input type="text" class="ed4e value-input" name="data.miscmods.misc_init_step" value="{{data.miscmods.misc_init_step}}" data-dtype="Number"/> <a class="tick" data-stat-name="initmod" data-direction="up"><i class="fas fa-plus-square"></i></a></td>
            <td><a class="step-roll ed4e-button" data-step="{{data.initiative.step}}" data-roll-type="Initiative"><i class="fas fa-dice-six"></i> {{data.initiative.step}}/{{data.initiative.dice}}</a></td>
            <td class="center"><input type="text" class="ed4e value-input-wide" name="data.movement" value="{{data.movement}}" data-dtype="String" /></td>
        </tr>
    </table>
        <h4 class="table-title">Karma</h4>
    <table class="item-table">
        <tr>
            <td><strong>{{localize "ED4E.karma.karma_avail"}}</strong></td>
            <td class="center"><td class="center"><a class="tick" data-stat-name="karma" data-direction="down"><i class="fas fa-minus-square"></i></a> <input class="ed4e value-input" type="text" name="data.karma.value" value="{{data.karma.value}}" data-dtype="Number" /> <a class="tick" data-stat-name="karma" data-direction="up"><i class="fas fa-plus-square"></i></a> /  
            <input type="text" class="ed4e value-input" name="data.karma.max" value="{{data.karma.max}}" data-dtype="Number" /></td>
        </tr>
    </table>
</div>